.root {
  display: flex;
  width: 100%;
  height: 723px;
  position: relative;
  flex-direction: column;
  background: var(--token--5OQLPEdMA_oyE);
  min-width: 0;
}
.freeBox__zlcrf {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  min-width: 0;
  padding: 0px;
}
.columns___8RgS {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
}
.columns___8RgS > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 2 / 12);
}
.columns___8RgS > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 10 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___8RgS {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___8RgS > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__dqFtd {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 947px;
  height: 562px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img {
    margin: 0px;
  }
}
.column___6UCBh {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 100px;
}
.column___6UCBh > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.column___6UCBh > :global(.__wab_flex-container) > *,
.column___6UCBh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column___6UCBh > :global(.__wab_flex-container) > picture > img,
.column___6UCBh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 72.3px;
  color: var(--token-2yvttkOF5FpQt5);
  text-align: left;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    font-size: 35px;
    font-weight: 700;
    line-height: 1;
    color: var(--token-2yvttkOF5FpQt5);
    text-align: center;
    padding-bottom: 0px;
  }
}
.columns__kD7X {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__kD7X > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__kD7X > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__kD7X > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__kD7X {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__kD7X > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__gs1N1 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  border-right-style: solid;
  border-right-width: 1px;
  min-width: 0;
}
.column__gs1N1 > :global(.__wab_flex-container) {
  flex-wrap: wrap;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.column__gs1N1 > :global(.__wab_flex-container) > *,
.column__gs1N1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__gs1N1 > :global(.__wab_flex-container) > picture > img,
.column__gs1N1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
.text__h6Dua {
  font-size: 20px;
  font-weight: 400;
  color: #384647ad;
  text-align: left;
  width: 100%;
  height: auto;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__h6Dua {
    font-size: 35px;
    font-weight: 700;
    line-height: 1;
    color: var(--token-2yvttkOF5FpQt5);
    text-align: center;
    padding-bottom: 0px;
  }
}
.text__hrGpa {
  font-size: 20px;
  font-weight: 400;
  color: #384647ad;
  text-align: left;
  width: auto;
  height: auto;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__hrGpa {
    font-size: 35px;
    font-weight: 700;
    line-height: 1;
    color: var(--token-2yvttkOF5FpQt5);
    text-align: center;
    padding-bottom: 0px;
  }
}
.column__rFwNo {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 8px 60px;
}
.column__rFwNo > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.column__rFwNo > :global(.__wab_flex-container) > *,
.column__rFwNo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__rFwNo > :global(.__wab_flex-container) > picture > img,
.column__rFwNo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
.text___3CyQ5 {
  font-size: 20px;
  font-weight: 400;
  color: #384647ad;
  text-align: left;
  width: 100%;
  height: auto;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___3CyQ5 {
    font-size: 35px;
    font-weight: 700;
    line-height: 1;
    color: var(--token-2yvttkOF5FpQt5);
    text-align: center;
    padding-bottom: 0px;
  }
}
.freeBox__viIrf {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__viIrf {
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-row-gap: 0px;
    min-width: 0;
    padding: 0px;
  }
}
.link__lkKkY {
  flex-direction: row;
  display: flex;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-vWnPeSq-vMfriB);
  border-radius: 5px;
  padding: 6px 22px;
  border: 2px solid var(--token--5OQLPEdMA_oyE);
}
.link__lkKkY > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
}
.link__lkKkY > :global(.__wab_flex-container) > *,
.link__lkKkY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__lkKkY > :global(.__wab_flex-container) > picture > img,
.link__lkKkY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 6px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__lkKkY {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    max-width: 100%;
    border-radius: 5px;
    padding: 6px 22px;
    border: 2px solid var(--token--5OQLPEdMA_oyE);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__lkKkY > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__lkKkY > :global(.__wab_flex-container) > *,
  .link__lkKkY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .link__lkKkY > :global(.__wab_flex-container) > picture > img,
  .link__lkKkY
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 0px;
  }
}
.svg__eOwyC {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token--5OQLPEdMA_oyE);
  width: 24px;
  height: 25px;
  flex-shrink: 0;
}
.text__unN7O {
  width: auto;
  height: auto;
  color: var(--token--5OQLPEdMA_oyE);
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.2px;
  font-family: "Poppins", sans-serif;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__unN7O {
    font-size: 20px;
    width: auto;
    height: auto;
    color: var(--token--5OQLPEdMA_oyE);
    font-weight: 600;
    letter-spacing: 0.2px;
    font-family: "Poppins", sans-serif;
  }
}
.column__pleVv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__zxPto {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  align-self: center;
  background: #384647;
  min-width: 0;
  padding: 8px;
  margin: 0px;
}
.freeBox___4RsZy {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: auto;
  background: none;
  min-width: 0;
  padding: 2px 16px 27px;
}
.freeBox___4RsZy > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___4RsZy > :global(.__wab_flex-container) > *,
.freeBox___4RsZy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4RsZy > :global(.__wab_flex-container) > picture > img,
.freeBox___4RsZy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4RsZy {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4RsZy > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox__ioUwW {
  display: flex;
  width: 1300px;
  height: auto;
  margin-top: calc(0px + 16px) !important;
  padding: 50px 0px 0px;
}
.freeBox__ioUwW > :global(.__wab_flex-container) {
  justify-content: space-between;
  align-items: center;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox__ioUwW > :global(.__wab_flex-container) > *,
.freeBox__ioUwW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ioUwW > :global(.__wab_flex-container) > picture > img,
.freeBox__ioUwW
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ioUwW {
    display: flex;
    width: 100%;
    height: auto;
    margin-top: calc(0px + 16px) !important;
    min-width: 0;
    padding: 16px 5px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ioUwW > :global(.__wab_flex-container) {
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 5px);
    width: calc(100% + 5px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ioUwW > :global(.__wab_flex-container) > *,
  .freeBox__ioUwW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ioUwW > :global(.__wab_flex-container) > picture > img,
  .freeBox__ioUwW
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 5px;
  }
}
.menuButton:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuButton:global(.__wab_instance) {
    position: relative;
    flex-shrink: 0;
    display: none;
  }
}
.freeBox___2OyXy {
  flex-direction: row;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox___2OyXy > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 40px);
  width: calc(100% + 40px);
}
.freeBox___2OyXy > :global(.__wab_flex-container) > *,
.freeBox___2OyXy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2OyXy > :global(.__wab_flex-container) > picture > img,
.freeBox___2OyXy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 40px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2OyXy {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2OyXy > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    align-items: stretch;
    align-content: flex-start;
    justify-content: center;
    min-width: 0;
  }
}
.svg__gFwlE {
  object-fit: cover;
  max-width: 100%;
  width: 107px;
  height: 45px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__gFwlE {
    width: 100%;
    min-width: 0;
  }
}
.link___0Q6V3 {
  color: var(--token-ME67UEUJ5DbTYh);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link___0Q6V3 {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: var(--token-ME67UEUJ5DbTYh);
  }
}
.link__oIqH {
  color: var(--token-ME67UEUJ5DbTYh);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__oIqH {
    font-size: 16px;
  }
}
.link__sn52Z {
  color: var(--token-ME67UEUJ5DbTYh);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__sn52Z {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: var(--token-ME67UEUJ5DbTYh);
  }
}
.freeBox__enUqT {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__enUqT {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    flex-column-gap: 0px;
    min-width: 0;
  }
}
.text__btR4C {
  position: relative;
  color: var(--token-ME67UEUJ5DbTYh);
  font-size: 20px;
  text-align: left;
  font-weight: 500;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__btR4C {
    font-size: 12px;
    width: auto;
  }
}
.link__cKv8D {
  position: relative;
  color: var(--token-vWnPeSq-vMfriB);
  font-size: 20px;
  font-weight: 500;
  text-align: left;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__cKv8D {
    font-size: 12px;
    width: auto;
  }
}
.root .link__cKv8D:hover {
  text-decoration-line: underline;
}
