.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-left: 0px;
  padding-right: 0px;
  overflow: hidden;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.freeBox__yOCgw {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: url("./images/leafLightGreysvg.svg") top 50% left 0% / 2127px 2109px repeat;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yOCgw {
    background: url("./images/leafLightGreysvg.svg") top 50% right 50% / 2190px 810px
      repeat;
  }
}
.freeBox__yy74 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  background: none;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yy74 {
    margin-top: 0px;
    background: url("./images/headerBannerMobilejpg.jpeg") top 0% left 50% / contain no-repeat;
  }
}
.img___1Wu9E {
  position: absolute;
  object-fit: cover;
  max-width: 35%;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  filter: brightness(65%);
  object-position: left center;
  min-width: 0;
  min-height: 0;
}
.img___1Wu9E > picture > img {
  object-fit: cover;
  object-position: left center;
}
.img___1Wu9E > :global(.__wab_img-spacer) > img {
  object-fit: cover;
  object-position: left center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___1Wu9E {
    display: none !important;
  }
}
.header3:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 1300px;
}
.freeBox___3VOKd {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  align-content: unset;
  background: none;
  max-width: 1300px;
  min-width: 0;
  padding: 25px 32px 71px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___3VOKd {
    padding-top: 60px;
    padding-bottom: 81px;
    background: none;
  }
}
.link__c2Jpx {
  flex-direction: row;
  display: flex;
  width: auto;
  height: auto;
  max-width: 100%;
  background: none;
  border-radius: 5px;
  padding: 6px 0px;
  margin: 0px;
  border: 2px none var(--token--5OQLPEdMA_oyE);
}
.link__c2Jpx > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.link__c2Jpx > :global(.__wab_flex-container) > *,
.link__c2Jpx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__c2Jpx > :global(.__wab_flex-container) > picture > img,
.link__c2Jpx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__c2Jpx {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    max-width: 100%;
    background: none;
    margin-left: 0px;
    border-radius: 5px;
    padding: 6px 22px;
    border: 2px none var(--token--5OQLPEdMA_oyE);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__c2Jpx > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-left: calc(0px - 16px);
    width: calc(100% + 16px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__c2Jpx > :global(.__wab_flex-container) > *,
  .link__c2Jpx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .link__c2Jpx > :global(.__wab_flex-container) > picture > img,
  .link__c2Jpx
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 16px;
    margin-top: 0px;
  }
}
.svg__isjsn {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-vWnPeSq-vMfriB);
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.text__t4MLa {
  width: auto;
  height: auto;
  color: var(--token--5OQLPEdMA_oyE);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.2px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__t4MLa {
    font-size: 16px;
    width: auto;
    height: auto;
    color: var(--token--5OQLPEdMA_oyE);
    font-weight: 400;
    letter-spacing: 0.2px;
    font-family: "Poppins", sans-serif;
  }
}
.foreground2 {
  flex-direction: column;
  display: flex;
  width: 100%;
  max-width: 1300px;
  align-self: flex-start;
  padding-top: 15px;
  min-width: 0;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.columns__tc7FA {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 0px;
}
.columns__tc7FA > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 60px);
  width: calc(100% + 60px);
}
.columns__tc7FA > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 60px) * 6 / 12);
}
.columns__tc7FA > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 60px) * 6 / 12);
}
.columns__tc7FA > :global(.__wab_flex-container) > *,
.columns__tc7FA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__tc7FA > :global(.__wab_flex-container) > picture > img,
.columns__tc7FA
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 60px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__tc7FA {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__tc7FA > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 40px);
    height: calc(100% + 40px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__tc7FA > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 60px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__tc7FA > :global(.__wab_flex-container) > *,
  .columns__tc7FA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__tc7FA > :global(.__wab_flex-container) > picture > img,
  .columns__tc7FA
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 40px;
  }
}
.column___8Mer1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__eeiU7 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 4px 16px 0px #00000033;
}
.img__eeiU7 > picture > img {
  object-fit: cover;
}
.img__eeiU7 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__muCgM {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column__muCgM > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.column__muCgM > :global(.__wab_flex-container) > *,
.column__muCgM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__muCgM > :global(.__wab_flex-container) > picture > img,
.column__muCgM
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.h3 {
  font-size: 42px;
  font-weight: 700;
  line-height: 1;
  color: var(--token-2yvttkOF5FpQt5);
  text-align: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3 {
    font-size: 35px;
  }
}
.text__fBt85 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-2yvttkOF5FpQt5);
  font-size: 24px;
  min-width: 0;
}
.h5___9Dahu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-2yvttkOF5FpQt5);
  line-height: 34px;
  font-size: 32px;
  min-width: 0;
}
.freeBox___85YVx {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__iCMwl {
  position: relative;
  font-size: 20px;
  width: auto;
  height: auto;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #384647ad;
  text-align: left;
  text-transform: capitalize;
}
.freeBox__cqhM {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cqhM {
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-row-gap: 0px;
    min-width: 0;
    padding: 0px;
  }
}
.link__bYyP {
  flex-direction: row;
  display: flex;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-vWnPeSq-vMfriB);
  border-radius: 8px;
  padding: 12px 32px;
  border: 2px solid var(--token--5OQLPEdMA_oyE);
}
.link__bYyP > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.link__bYyP > :global(.__wab_flex-container) > *,
.link__bYyP > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__bYyP > :global(.__wab_flex-container) > picture > img,
.link__bYyP
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__bYyP {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    max-width: 100%;
    background: var(--token-vWnPeSq-vMfriB);
    border-radius: 5px;
    padding: 6px 22px;
    border: 2px solid var(--token--5OQLPEdMA_oyE);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__bYyP > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-left: calc(0px - 6px);
    width: calc(100% + 6px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__bYyP > :global(.__wab_flex-container) > *,
  .link__bYyP > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .link__bYyP > :global(.__wab_flex-container) > picture > img,
  .link__bYyP
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 6px;
    margin-top: 0px;
  }
}
.svg___4Brg7 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token--5OQLPEdMA_oyE);
  width: 24px;
  height: 25px;
  flex-shrink: 0;
}
.text___4OKAu {
  width: auto;
  height: auto;
  color: var(--token--5OQLPEdMA_oyE);
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.2px;
  font-family: "Poppins", sans-serif;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___4OKAu {
    font-size: 20px;
    width: auto;
    height: auto;
    color: var(--token--5OQLPEdMA_oyE);
    font-weight: 600;
    letter-spacing: 0.2px;
    font-family: "Poppins", sans-serif;
  }
}
.header {
  max-width: 1140px;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
}
.freeBox__wN91W {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100vw;
  background: none;
}
.freeBox__wN91W > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__wN91W > :global(.__wab_flex-container) > *,
.freeBox__wN91W > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wN91W > :global(.__wab_flex-container) > picture > img,
.freeBox__wN91W
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox___2Gxxd {
  max-width: 1380px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.header2:global(.__wab_instance) {
  margin-top: 0px;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .header2:global(.__wab_instance) {
    margin-top: 0px;
  }
}
.freeBox__gmN59 {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 64px;
  margin-bottom: 64px;
  display: none;
}
.h2___8HZru {
  position: relative;
}
.columns__ildF5 {
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  display: none;
  padding: 8px 8px 72px;
}
.columns__ildF5 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 50px);
  width: calc(100% + 50px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.columns__ildF5 > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 50px) * 3 / 12);
}
.columns__ildF5 > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 50px) * 3 / 12);
}
.columns__ildF5 > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 50px) * 3 / 12);
}
.columns__ildF5 > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 50px) * 3 / 12);
}
.columns__ildF5 > :global(.__wab_flex-container) > *,
.columns__ildF5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__ildF5 > :global(.__wab_flex-container) > picture > img,
.columns__ildF5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 50px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ildF5 {
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ildF5 > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ildF5 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 50px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ildF5 > :global(.__wab_flex-container) > *,
  .columns__ildF5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__ildF5 > :global(.__wab_flex-container) > picture > img,
  .columns__ildF5
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 32px;
  }
}
.column__xbxCp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__f5JI:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productCard__f5JI:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.img__eFgaD {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__eFgaD > picture > img {
  object-fit: cover;
}
.img__eFgaD > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.ratings__pr9Yo:global(.__wab_instance) {
  position: relative;
}
.column__vArbm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__yplql:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__fdZUy {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__fdZUy > picture > img {
  object-fit: cover;
}
.img__fdZUy > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.ratings__prTIk:global(.__wab_instance) {
  position: relative;
}
.column__qrRnG {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__rGoXv:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__mbfBn {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__mbfBn > picture > img {
  object-fit: cover;
}
.img__mbfBn > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.ratings___4UeQ:global(.__wab_instance) {
  position: relative;
}
.column__tyPsW {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__koKgg:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__gTtWh {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__gTtWh > picture > img {
  object-fit: cover;
}
.img__gTtWh > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.ratings__hh4Gn:global(.__wab_instance) {
  position: relative;
}
.featureItem:global(.__wab_instance) {
  position: relative;
  margin-top: 16px;
  margin-bottom: 64px;
  display: none;
}
.freeBox__lmB8 {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 16px;
  margin-bottom: 64px;
  display: none;
}
.text__p2KV {
  position: relative;
  color: var(--token-pTjgpeduqTEL4j);
  font-size: 30px;
  font-weight: 500;
}
.columns__zfDjo {
  flex-direction: row;
  position: relative;
  margin-bottom: 64px;
  margin-top: 16px;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  display: none;
  padding: 8px;
}
.columns__zfDjo > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 36px);
  width: calc(100% + 36px);
}
.columns__zfDjo > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 36px) * 3 / 12);
}
.columns__zfDjo > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 36px) * 3 / 12);
}
.columns__zfDjo > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 36px) * 3 / 12);
}
.columns__zfDjo > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 36px) * 3 / 12);
}
.columns__zfDjo > :global(.__wab_flex-container) > *,
.columns__zfDjo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__zfDjo > :global(.__wab_flex-container) > picture > img,
.columns__zfDjo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 36px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__zfDjo {
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__zfDjo > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 10px);
    height: calc(100% + 10px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__zfDjo > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__zfDjo > :global(.__wab_flex-container) > *,
  .columns__zfDjo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__zfDjo > :global(.__wab_flex-container) > picture > img,
  .columns__zfDjo
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 10px;
  }
}
.column__kxk2D {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__syuOx:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.text___2Mbtf {
  height: auto;
}
.text__zDohL {
  height: auto;
}
.img__xz8Qu {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__xz8Qu > picture > img {
  object-fit: cover;
}
.img__xz8Qu > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.ratings__lVxMd:global(.__wab_instance) {
  position: relative;
}
.column__yd3Pp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__cSx5A:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img___13B06 {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img___13B06 > picture > img {
  object-fit: cover;
}
.img___13B06 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.ratings__z1LgN:global(.__wab_instance) {
  position: relative;
}
.column___6SC5A {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__bJlmZ:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__byunt {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__byunt > picture > img {
  object-fit: cover;
}
.img__byunt > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.ratings__fOaba:global(.__wab_instance) {
  position: relative;
}
.column__brulp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__jiO5:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productCard__jiO5:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.img__zwP6 {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__zwP6 > picture > img {
  object-fit: cover;
}
.img__zwP6 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.ratings__ojKyd:global(.__wab_instance) {
  position: relative;
}
.freeBox__gh902 {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  display: none;
}
.text__e0JSy {
  position: relative;
  color: var(--token-pTjgpeduqTEL4j);
  font-size: 30px;
  font-weight: 500;
}
.columns__ivDz {
  flex-direction: row;
  position: relative;
  margin-bottom: 64px;
  margin-top: 16px;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  display: none;
  padding: 8px;
}
.columns__ivDz > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns__ivDz > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns__ivDz > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns__ivDz > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns__ivDz > :global(.__wab_flex-container) > *,
.columns__ivDz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__ivDz > :global(.__wab_flex-container) > picture > img,
.columns__ivDz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ivDz {
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ivDz > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ivDz > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
.column__n8HdZ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.blogPost__l9XOd:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__x9Unv {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__x9Unv > picture > img {
  object-fit: cover;
}
.img__x9Unv > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__ptzHu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.blogPost__n6EVv:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__brm5S {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__brm5S > picture > img {
  object-fit: cover;
}
.img__brm5S > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__k12Nr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.blogPost__cLs:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__ckgOs {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__ckgOs > picture > img {
  object-fit: cover;
}
.img__ckgOs > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__crRrv {
  flex-direction: row;
  position: relative;
  width: 100vw;
  height: auto;
  overflow: auto;
  background: var(--token-2TIY0uFbx3Uo6w);
  display: none;
  padding: 48px;
}
.freeBox__crRrv > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__crRrv > :global(.__wab_flex-container) > *,
.freeBox__crRrv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__crRrv > :global(.__wab_flex-container) > picture > img,
.freeBox__crRrv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
  margin-top: 32px;
}
.img__zlXba {
  position: relative;
  object-fit: cover;
  width: 90px;
  height: 60px;
  flex-shrink: 0;
}
.img__zlXba > picture > img {
  object-fit: cover;
}
.img__zlXba > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__yqDlV {
  position: relative;
  object-fit: cover;
  width: 91px;
  height: 60px;
  flex-shrink: 0;
}
.img__yqDlV > picture > img {
  object-fit: cover;
}
.img__yqDlV > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__q5GHb {
  position: relative;
  object-fit: cover;
  width: 98px;
  height: 60px;
  flex-shrink: 0;
}
.img__q5GHb > picture > img {
  object-fit: cover;
}
.img__q5GHb > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__nGDmp {
  position: relative;
  object-fit: cover;
  width: 124px;
  height: 60px;
  flex-shrink: 0;
}
.img__nGDmp > picture > img {
  object-fit: cover;
}
.img__nGDmp > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__hbGjK {
  position: relative;
  object-fit: cover;
  width: 125px;
  height: 60px;
  flex-shrink: 0;
}
.img__hbGjK > picture > img {
  object-fit: cover;
}
.img__hbGjK > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.footer__cok1Q:global(.__wab_instance) {
  position: relative;
  display: none;
}
.bigPlants {
  flex-direction: column;
  max-width: 1300px;
  width: 100%;
  height: auto;
  padding-bottom: 80px;
  min-width: 0;
  display: none;
  margin: 0px;
}
.bigPlants > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.bigPlants > :global(.__wab_flex-container) > *,
.bigPlants > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.bigPlants > :global(.__wab_flex-container) > picture > img,
.bigPlants
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__hIuo {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__hIuo > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__hIuo > :global(.__wab_flex-container) > *,
.freeBox__hIuo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hIuo > :global(.__wab_flex-container) > picture > img,
.freeBox__hIuo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.h2___6BeSt {
  position: relative;
  width: auto;
  height: auto;
  color: var(--token-ME67UEUJ5DbTYh);
}
.columns__gzGcv {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns__gzGcv > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.columns__gzGcv > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 15px) * 4 / 12);
}
.columns__gzGcv > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 15px) * 4 / 12);
}
.columns__gzGcv > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 15px) * 4 / 12);
}
.columns__gzGcv > :global(.__wab_flex-container) > *,
.columns__gzGcv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__gzGcv > :global(.__wab_flex-container) > picture > img,
.columns__gzGcv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__gzGcv {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__gzGcv > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__gzGcv > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 15px) * 12 / 12);
  }
}
.column__bPgUs {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__bPgUs > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__bPgUs > :global(.__wab_flex-container) > *,
.column__bPgUs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__bPgUs > :global(.__wab_flex-container) > picture > img,
.column__bPgUs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__wdY3X {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-7poH7v2BwN-d7b);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__wdY3X > picture > img {
  object-fit: cover;
}
.img__wdY3X > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__sK9Qs {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token--5OQLPEdMA_oyE);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__n9ZH {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-vWnPeSq-vMfriB);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__nIa0B {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__qt1K {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-2yvttkOF5FpQt5);
  font-size: 24px;
  min-width: 0;
}
.text__xrsrC {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-2yvttkOF5FpQt5);
  min-width: 0;
}
.h5__zpBEv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-2yvttkOF5FpQt5);
  line-height: 34px;
  min-width: 0;
}
.column__v7Q8O {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__v7Q8O > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__v7Q8O > :global(.__wab_flex-container) > *,
.column__v7Q8O > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__v7Q8O > :global(.__wab_flex-container) > picture > img,
.column__v7Q8O
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__s8E2C {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-7poH7v2BwN-d7b);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__s8E2C > picture > img {
  object-fit: cover;
}
.img__s8E2C > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__s2Ljk {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token--5OQLPEdMA_oyE);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__msaK {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-vWnPeSq-vMfriB);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__qudnh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__mKuG0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-2yvttkOF5FpQt5);
  font-size: 24px;
  min-width: 0;
}
.text__v5Nn4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-2yvttkOF5FpQt5);
  min-width: 0;
}
.h5___0Ysvv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-2yvttkOF5FpQt5);
  line-height: 34px;
  min-width: 0;
}
.column__yqXy1 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__yqXy1 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__yqXy1 > :global(.__wab_flex-container) > *,
.column__yqXy1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__yqXy1 > :global(.__wab_flex-container) > picture > img,
.column__yqXy1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__pLqTh {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-7poH7v2BwN-d7b);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__pLqTh > picture > img {
  object-fit: cover;
}
.img__pLqTh > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox___8UBxP {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token--5OQLPEdMA_oyE);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__lvsQn {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-vWnPeSq-vMfriB);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__zHbb4 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__iTj7P {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-2yvttkOF5FpQt5);
  font-size: 24px;
  min-width: 0;
}
.text___3HOzw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-2yvttkOF5FpQt5);
  min-width: 0;
}
.h5__srKy6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-2yvttkOF5FpQt5);
  line-height: 34px;
  min-width: 0;
}
.img__plt2 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-7poH7v2BwN-d7b);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__plt2 > picture > img {
  object-fit: cover;
}
.img__plt2 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__hHb94 {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token--5OQLPEdMA_oyE);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__fvoIu {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-vWnPeSq-vMfriB);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__knB5F {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__cpJGf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-2yvttkOF5FpQt5);
  font-size: 24px;
  min-width: 0;
}
.text__y7Kp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-2yvttkOF5FpQt5);
  min-width: 0;
}
.h5__zgHex {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-2yvttkOF5FpQt5);
  line-height: 34px;
  min-width: 0;
}
.cactuses {
  flex-direction: column;
  max-width: 1300px;
  width: 100%;
  height: auto;
  padding-bottom: 80px;
  min-width: 0;
  display: none;
  margin: 0px;
}
.cactuses > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.cactuses > :global(.__wab_flex-container) > *,
.cactuses > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cactuses > :global(.__wab_flex-container) > picture > img,
.cactuses
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__gIdpL {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__gIdpL > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__gIdpL > :global(.__wab_flex-container) > *,
.freeBox__gIdpL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gIdpL > :global(.__wab_flex-container) > picture > img,
.freeBox__gIdpL
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.h2__k2X9 {
  position: relative;
  width: auto;
  height: auto;
  color: var(--token-ME67UEUJ5DbTYh);
}
.columns__erRu {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns__erRu > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.columns__erRu > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 15px) * 3 / 12);
}
.columns__erRu > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 15px) * 3 / 12);
}
.columns__erRu > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 15px) * 3 / 12);
}
.columns__erRu > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 15px) * 3 / 12);
}
.columns__erRu > :global(.__wab_flex-container) > *,
.columns__erRu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__erRu > :global(.__wab_flex-container) > picture > img,
.columns__erRu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__erRu {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__erRu > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__erRu > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 15px) * 12 / 12);
  }
}
.column__zj0Yg {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__zj0Yg > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__zj0Yg > :global(.__wab_flex-container) > *,
.column__zj0Yg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__zj0Yg > :global(.__wab_flex-container) > picture > img,
.column__zj0Yg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img___6Azkl {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-7poH7v2BwN-d7b);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img___6Azkl > picture > img {
  object-fit: cover;
}
.img___6Azkl > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__zKi4 {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token--5OQLPEdMA_oyE);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__eEoj0 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-vWnPeSq-vMfriB);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__yTwR9 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__fPnJr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-2yvttkOF5FpQt5);
  font-size: 24px;
  min-width: 0;
}
.text__h4BLj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-2yvttkOF5FpQt5);
  min-width: 0;
}
.h5__rtapB {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-2yvttkOF5FpQt5);
  line-height: 34px;
  min-width: 0;
}
.column__nprLl {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__nprLl > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__nprLl > :global(.__wab_flex-container) > *,
.column__nprLl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__nprLl > :global(.__wab_flex-container) > picture > img,
.column__nprLl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img___69Q5T {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-7poH7v2BwN-d7b);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img___69Q5T > picture > img {
  object-fit: cover;
}
.img___69Q5T > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__jyB5 {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token--5OQLPEdMA_oyE);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__q4Us9 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-vWnPeSq-vMfriB);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__zchNs {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__mfx5L {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-2yvttkOF5FpQt5);
  font-size: 24px;
  min-width: 0;
}
.text__vv24M {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-2yvttkOF5FpQt5);
  min-width: 0;
}
.h5__lv8Bd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-2yvttkOF5FpQt5);
  line-height: 34px;
  min-width: 0;
}
.column__xJ8Z2 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__xJ8Z2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__xJ8Z2 > :global(.__wab_flex-container) > *,
.column__xJ8Z2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__xJ8Z2 > :global(.__wab_flex-container) > picture > img,
.column__xJ8Z2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__picpk {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-7poH7v2BwN-d7b);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__picpk > picture > img {
  object-fit: cover;
}
.img__picpk > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__rjmnX {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token--5OQLPEdMA_oyE);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__ggRi {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-vWnPeSq-vMfriB);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__ndRup {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__yDow3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-2yvttkOF5FpQt5);
  font-size: 24px;
  padding-bottom: 0px;
  min-width: 0;
}
.text__efhHw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-2yvttkOF5FpQt5);
  min-width: 0;
}
.h5__zxHc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-2yvttkOF5FpQt5);
  line-height: 34px;
  min-width: 0;
}
.column__td0Qb {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__td0Qb > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__td0Qb > :global(.__wab_flex-container) > *,
.column__td0Qb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__td0Qb > :global(.__wab_flex-container) > picture > img,
.column__td0Qb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__cpLIy {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-7poH7v2BwN-d7b);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__cpLIy > picture > img {
  object-fit: cover;
}
.img__cpLIy > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__ppZYf {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token--5OQLPEdMA_oyE);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__xUiU {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-vWnPeSq-vMfriB);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__htIdm {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__kPxHs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-2yvttkOF5FpQt5);
  font-size: 24px;
  min-width: 0;
}
.text__a6U7P {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-2yvttkOF5FpQt5);
  min-width: 0;
}
.h5__aEcM7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-2yvttkOF5FpQt5);
  line-height: 34px;
  min-width: 0;
}
.bestSellers {
  flex-direction: column;
  max-width: 1300px;
  display: flex;
  width: 100%;
  height: auto;
  padding-bottom: 80px;
  padding-top: 80px;
  min-width: 0;
  margin: 0px 0px 60px;
}
.bestSellers > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.bestSellers > :global(.__wab_flex-container) > *,
.bestSellers > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.bestSellers > :global(.__wab_flex-container) > picture > img,
.bestSellers
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .bestSellers {
    max-width: 1300px;
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    min-width: 0;
    padding: 0px 20px 42px;
    margin: 0px 60px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .bestSellers > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .bestSellers > :global(.__wab_flex-container) > *,
  .bestSellers > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .bestSellers > :global(.__wab_flex-container) > picture > img,
  .bestSellers
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.freeBox__acN {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__acN > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__acN > :global(.__wab_flex-container) > *,
.freeBox__acN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__acN > :global(.__wab_flex-container) > picture > img,
.freeBox__acN
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__acN {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    height: auto;
    max-width: 100%;
    min-width: 0;
    padding: 8px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__acN > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 16px);
    width: calc(100% + 16px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__acN > :global(.__wab_flex-container) > *,
  .freeBox__acN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__acN > :global(.__wab_flex-container) > picture > img,
  .freeBox__acN
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 16px;
    margin-top: 0px;
  }
}
.h2__hkQlU {
  position: relative;
  width: auto;
  height: auto;
  color: var(--token-ME67UEUJ5DbTYh);
}
.productRow:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productRow:global(.__wab_instance) {
    position: relative;
  }
}
.footer__iw3U6:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
