.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  background: none;
  min-width: 0;
  padding: 0px 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    flex-wrap: wrap;
    align-items: stretch;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.freeBox___4IKx {
  display: flex;
  width: 100%;
  height: auto;
  margin-top: 0px;
  min-width: 0;
  padding: 50px 0px 0px;
}
.freeBox___4IKx > :global(.__wab_flex-container) {
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox___4IKx > :global(.__wab_flex-container) > *,
.freeBox___4IKx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4IKx > :global(.__wab_flex-container) > picture > img,
.freeBox___4IKx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4IKx {
    padding: 16px 10px;
  }
}
.menuButton:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuButton:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.menuButtonexpanded:global(.__wab_instance) {
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuButtonexpanded:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.link__kRi6D {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__eSDjl {
  object-fit: cover;
  max-width: 100%;
  width: 107px;
  height: 45px;
  flex-shrink: 0;
}
.freeBox__zPvGs {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__zPvGs > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 50px);
  width: calc(100% + 50px);
}
.freeBox__zPvGs > :global(.__wab_flex-container) > *,
.freeBox__zPvGs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zPvGs > :global(.__wab_flex-container) > picture > img,
.freeBox__zPvGs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 50px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zPvGs {
    display: flex;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zPvGs > :global(.__wab_flex-container) {
    margin-left: calc(0px - 15px);
    width: calc(100% + 15px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zPvGs > :global(.__wab_flex-container) > *,
  .freeBox__zPvGs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__zPvGs > :global(.__wab_flex-container) > picture > img,
  .freeBox__zPvGs
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 15px;
    margin-top: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxexpanded__zPvGsc8TA {
    display: none;
  }
}
.link__l4Bt6 {
  color: var(--token--5OQLPEdMA_oyE);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__l4Bt6 {
    font-size: 16px;
  }
}
.link__kLgKf {
  color: var(--token--5OQLPEdMA_oyE);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__kLgKf {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: var(--token--5OQLPEdMA_oyE);
  }
}
.link__iiWsg {
  color: var(--token--5OQLPEdMA_oyE);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__iiWsg {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: var(--token--5OQLPEdMA_oyE);
  }
}
.freeBox__rJe7T {
  flex-direction: row;
  display: flex;
  position: relative;
  width: auto;
}
.freeBox__rJe7T > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__rJe7T > :global(.__wab_flex-container) > *,
.freeBox__rJe7T > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rJe7T > :global(.__wab_flex-container) > picture > img,
.freeBox__rJe7T
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.iconLink:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__d6T7R {
  position: relative;
  object-fit: cover;
  color: var(--token--5OQLPEdMA_oyE);
  width: 30px;
  height: 30px;
}
.root .svg__d6T7R:hover {
  color: rgb(233, 156, 46);
}
.text {
  position: relative;
  width: auto;
  height: auto;
  max-width: 8px;
  color: var(--token--5OQLPEdMA_oyE);
  padding-left: 10px;
  font-weight: 700;
}
.freeBox__bpq4G {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  display: none;
}
.linkButton__d9JIh:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__oLjq8:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__vQoPs:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__fnYx5:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton___1UrvQ:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
